.chuchay{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
    color: white;
    height: 50px;
    line-height: 50px;

}

.chuchay span{
  display: inline-block;
  padding-left: 100%;
  animation: chaychu 22s linear infinite;
  font-size: 18px;
  font-weight: 500;
}

@keyframes chaychu{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.banner img{
  width: 100%;
}

.spnb{
  margin-top: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.anhspnb{
  margin-top: 20px;
  list-style: none;
  display: flex;
}

.anhspnb ul{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}


.buy{
  margin-top: 10px;
  display: inline-block;
  padding: 10px 18px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.buy:hover{
  background: #222;
}


.modal{
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content{
  background: #fff;
  width: 700px;
  padding: 20px;
  position: relative;
}



.modal-content input,
.modal-content select,
.modal-content textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.row{
  display: flex;
  gap: 10px;
}

.close{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.close:hover{
  background: red;
  color: white;
}


.btn-submit{
  background: black;
  color: white;
  padding: 10px;
  border: none;
}

.footer{
  margin-top: 20px;
  text-align: center;

}
.duoi{
  background-color: #000;
  width: auto;
  height: auto;
  color: white;
  font-size: 20px;
  display: inline-block;
}
.img-hover{
  position: relative;
  width: 250px;   /* chỉnh theo ảnh */
  height: 350px;
}

.img-hover img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.img-back{
  opacity: 0;
}

.img-hover:hover .img-front{
  opacity: 0;
}

.img-hover:hover .img-back{
  opacity: 1;
}
